.container{
    margin: auto;
    margin-top: 20px;
    background: lightcoral;
    width: 50%;
    border: solid lightgray;
    padding: 10px;    
}

h1 {
    color:black;
    margin-left: 35%;
    font-size: 40px;
}

input{
    width: 100%;
}

p {
    font-size: 15px;
}
